h1 {
    text-align: center;
    color: red;

}

#detail {
    color: blueviolet;
}

#content a {
    color: black;
    text-decoration: none;
}

#sidebar {
    background-color:darksalmon;
    color:  green;
    text-align: center;
}

.date {
    font-style: italic;
    font-size: smaller;
    text-align:justify;
}

.pagination.current {
    text-align: center;
}